* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
}

nav {
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

nav div .logo {
  height: 100%;
  width: 50px;
}

.logo {
  background-color: green;
  color: white;
  padding: 20px;
}

nav div ul {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

nav div ul li {
  background-color: black;
  color: white;
  margin-left: 50px;
  list-style-type: none;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 100px;
}

.img {
  grid-area: img;
}

.about {
  grid-area: about;
  height: 60px;
}

.hobbies {
  grid-area: hobbies;
  height: 60px;
}

.contact {
  grid-area: contact;
  height: 60px;
}

.employment {
  grid-area: employment;
  height: 120px;
}

.education {
  grid-area: education;
  height: 80px;
}

main {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "img img about about about"
    "img img hobbies hobbies hobbies"
    "img img contact contact contact"
    "employment employment employment employment employment"
    "employment employment employment employment employment"
    "education education education education education";
  background-color: white;
  gap: 10px;
  padding: 10px;
}

main > * {
  background-color: purple;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  main {
    display: grid;
    grid-template-areas:
      "img"
      "about"
      "hobbies"
      "contact"
      "employment"
      "employment"
      "education";
  }
}
